
@{
    ViewData["Title"] = "vista_bbd";
}

<h1>vista_bbd</h1>
<form method="get" action="">
    <input type="text" name="rut" placeholder="ingrese Rut" value=""/>
    <input type="text" name="nom" placeholder="ingrese Nombre" value="" />
    <input type="number" name="edad" placeholder="ingrese Edad" value="0" />
    <input type="email" name="mail" placeholder="ingrese mail" value="" />

    <input type="submit" value="ENVIAR"/>
</form>


